<!DOCTYPE html>
<html>
<head>
	<title>充值</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
</head>
<style type="text/css">
	body {
            width: 450px;
            margin: 100px auto;
            font-family: 'trebuchet MS', 'Lucida sans', Arial;
            font-size: 18px;
            color: black;
            background-color: #4A708B;
        }
</style>
<body>
<div>
	<h1 align="center">&nbsp;&nbsp;金币充值</h1>
</div>

<table class="bordered" id="">  
	<tr>
        <td>充值账号</td>
        <td>
        	<span id="username"></span>
        </td>        
    </tr> 
    <tr>
        <td>电话号码</td>
        <td>
        	<input type="text" name="phone" id="phone">
        </td>        
    </tr>
    <tr>
        <td>充值金额</td>
        <td>
        	<input type="text" name="key" id="key">
        </td>        
    </tr>
    <tr>
        <td>充值秘钥</td>
        <td>
        	<input type="text" name="rechargeCoin" id="rechargeCoin">
        </td>        
    </tr>
    <tr>
        <td>
        	<span>充值入口</span>
        </td>
        <td>
        	<button>生成秘钥</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<button>立即充值</button>
        </td>
    </tr>    
</table>
	
</body>
</html>